name: Test / Latest Media Handler

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - synchronize
      - edited
      - ready_for_review
    branches:
      - master

jobs:
  build:
    name: Latest Media Handler / Build
    runs-on: windows-2022
    steps:
      - name: Git Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Build
        run: |
          build_git.bat < nul
        working-directory: ${{ github.workspace }}\scripts
        shell: cmd

      - name: Upload Artifact / Plugin
        uses: actions/upload-artifact@v5
        if: ${{ success() }}
        with:
          name: LatestMediaHandler
          path: |
            ${{ github.workspace }}\LatestMediaHandler\bin\Release\LatestMediaHandler.dll
          retention-days: 7
          if-no-files-found: error

  ci-status:
    name: Build Status
    runs-on: ubuntu-latest
    needs:
      - build
    if: always()
    steps:
      - name: Success
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - name: Failure
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
